@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container py-5">
    <div class="row g-4">
        <!-- Card Template -->
        <div class="col-12 col-md-6">
            <div class="card modern-card">
                <img src="~/img/Swimming pool.jpg" class="card-img" alt="Swimming Pool">
                <div class="card-overlay">
                    <h3 class="card-title">Swimming Pool</h3>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card modern-card">
                <img src="~/img/Hotel Room.jpg" class="card-img" alt="Hotel Room">
                <div class="card-overlay">
                    <h3 class="card-title">Hotel Room</h3>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card modern-card">
                <img src="~/img/Gym-Interior.jpg" class="card-img" alt="Gym">
                <div class="card-overlay">
                    <h3 class="card-title">Gym</h3>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card modern-card">
                <img src="~/img/Breakfast.jpg" class="card-img" alt="Breakfast">
                <div class="card-overlay">
                    <h3 class="card-title">Breakfast</h3>
                </div>
            </div>
        </div>
    </div>
</div>

